@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }

  body {
    @apply m-0 p-0 font-sans;
  }
}

@layer utilities {
  .animate-bounce-gentle {
    animation: bounce-gentle 1s infinite;
  }

  @keyframes bounce-gentle {
    0%,
    100% {
      transform: translateY(-5px);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  .hover\:scale-102:hover {
    transform: scale(1.02);
  }
}
